<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-overlay is-on-light"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Spaces"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"medispace/medical-spaces-hero"} /-->

<!-- wp:pattern {"slug":"medispace/medical-spaces-list"} /-->

<!-- wp:pattern {"slug":"medispace/medical-location-map"} /-->

<!-- wp:pattern {"slug":"medispace/medical-location-features"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
