<!-- wp:template-part {"slug":"header-construction","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Home sections"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"medispace/construction-hero"} /-->

<!-- wp:pattern {"slug":"medispace/construction-projects"} /-->

<!-- wp:pattern {"slug":"medispace/construction-content-section"} /-->

<!-- wp:pattern {"slug":"medispace/construction-blog"} /-->

<!-- wp:pattern {"slug":"medispace/construction-cta-image"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-construction","tagName":"footer"} /-->
