<!-- wp:template-part {"slug":"header-medical","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Home sections"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"medispace/medical-hero"} /-->

<!-- wp:pattern {"slug":"medispace/medical-why-choose-us"} /-->

<!-- wp:pattern {"slug":"medispace/medical-health-care"} /-->

<!-- wp:pattern {"slug":"medispace/medical-gallery"} /-->

<!-- wp:pattern {"slug":"medispace/medical-workspaces"} /-->

<!-- wp:pattern {"slug":"medispace/medical-booking"} /-->

<!-- wp:pattern {"slug":"medispace/medical-benefits"} /-->

<!-- wp:pattern {"slug":"medispace/medical-blog"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-medical","tagName":"footer"} /-->
