<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-overlay is-on-light"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Service"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"medispace/construction-service-hero"} /-->

<!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:pattern {"slug":"medispace/construction-contact-us"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
